[submodule "MuseDashEditor/MuseDashEditor.Resources/MuseDashResources"]
	path = MuseDashEditor/MuseDashEditor.Resources/MuseDashResources
	url = https://github.com/MuseDashEditor/MuseDashResources.git
